source https://api.nuget.org/v3/index.json

storage: none

nuget FParsec
nuget FSharp.Core
nuget FSharp.Data.LiteralProviders
nuget FsToolkit.ErrorHandling
nuget FsUnit
nuget coverlet.collector
nuget Microsoft.NET.Test.Sdk
nuget NUnit
nuget NUnit.Analyzers
nuget NUnit3TestAdapter